@media screen and (max-height: 664px) {
    #header_gradient {
        padding: 32px 0 114px 0;
    }

    #time {
        font-size: 64px;
    }

    #date {
        font-size: 18px;
    }

    .time_stats {
        text-shadow: 0px 0px 3px rgb(26 26 27 / 94%);
    }

    #main_container {
        height: calc(100vh - 214px);
    }
}

@media screen and (max-height: 500px) {
    #header_gradient {
        padding: 16px 2.5% 92px;
    }

    #time {
        display: none;
    }

    #date {
        font-size: 24px;
    }

    #main_container {
        height: calc(100vh - 92px);
    }

    .modal_bg {
        position: fixed;
        overflow:auto
    }

    .modal_container {
        border-radius: 12px 12px 0 0;
        max-width: 66%;
        transform: translate(-50%, 0%);
    }
    
    #modal_container {
        transform: translate(-50%, -30%);
    }

    .modal_body {
        width: auto;
    }

    #modal_container.form_input {
        top: 40%;
    }
}

@media screen and (max-width: 700px) {
    #header_gradient {
        padding: 32px 0 114px 0;
    }

    #time {
        font-size: 64px;
    }

    #date {
        font-size: 18px;
    }

    .time_stats {
        text-shadow: 0px 0px 3px rgb(26 26 27 / 94%);
    }

    #main_container {
        position: relative;
        flex-direction: column;
        background: none;
        border: none;
        box-shadow: none;
        transition: all 0.1s;
    }

    #list_section {
        position: relative;
        width: 100%;
        background: none;
        border: none;
    }

    .mobile_menu,.mobile_menu_line {
        display: none !important;
    }

    #account_container {
        background: var(--background2);
        padding: 18px 84px 18px 18px;
        border: 1px solid var(--border);
        border-radius: 6px;
    }

    .setting_edit_user_btn::before {
        content: "";
    }

    .setting_edit_user_btn {
        width: calc(100% - 94px);
        height: 50px;
        right: auto;
        left: 8px;
        border-radius: 6px;
    }

    #menu_btn {
        display: block;
    }

    #menu_btn_checkbox {
        position: absolute;
        pointer-events: none;
        opacity: 0;
    }

    #todo_section {
        position: relative;
        height: unset;
        margin-top: 18px;
        border: 1px solid var(--border);
        border-radius: 6px;
        transition: all 0.2s;
    }

    #todo_section::after,#list_section::after {
        content: "";
        position: absolute;
        top: 100%;
        width: 1px;
        height: 18px;
    }

    #todo_section.out_animation {
        position: absolute;
        opacity: .2;
        top: 98px;
    }

    .task_delete {
        opacity: 1;
    }

    #list_container {
        margin-top: 86px;
        background: var(--background2);
        border: 1px solid var(--border);
        border-radius: 0 0 6px 6px;
        transition: all 0.2s;
    }

    #list_footer_container {
        position: absolute;
        top: 97px;
        width: 100%;
        background: var(--background2);
        border: 1px solid var(--border);
        border-radius: 6px 6px 0 0;
        transition: all 0.2s;
    }

    #todo_container {
        overflow-y: unset;
    }

    .modal_bg {
        position: fixed;
        overflow:auto
    }

    .modal_container {
        border-radius: 12px 12px 0 0;
        width: 100%;
        transform: translate(-50%, 66%);
    }

    #modal_container {
        transform: translate(-50%, -3.4%);
    }

    #modal_container.form_input {
        top: 40%;
    }

    #name_list {
        width: 100%;
    }

    .input_text {
        width: 100%;
    }

    .input_section {
        flex-direction: column;
        width: 100%;
    }

    .modal_body {
        width: auto;
    }

    #logo {
        max-width: 95%;
    }
}

@media screen and (max-width: 364px) {
    #about_project_footer {
        flex-direction: column !important;
    }
}