#header {
    width: 100%;
    background-color: #1A2030;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image .2s;
}

#header_gradient {
    background: linear-gradient(0deg, var(--background) 0%, rgba(255, 255, 255, 0) 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 64px 0 128px;
}

#time {
    font-size: 98px;
}

#date {
    font-size: 20px;
}

#main_container {
    margin: -64px auto 0;
    width: 896px;
    max-width: 95%;
    height: calc(100vh - 314px);
    background: var(--background);
    border: 1px solid var(--border);
    border-radius: 6px;
    display: flex;
    box-shadow: 4px 4px 12px rgba(26, 26, 27, 0.16);
}

#list_section {
    width: 285px;
    background: var(--background2);
    border-right: 1px solid var(--border);
    border-radius: 4px 0 0 4px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

#account_container {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
    position: relative;
    padding: 18px 58px 18px 18px;
}

#account_profile {
    flex-shrink: 0;
    background: var(--background);
    border: var(--border) 1px solid;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    overflow: hidden;
    display: grid;
    place-content: center;
}

#account_picture {
    height: 42px;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    user-select: none;
}

#greetings {
    font-size: 11px;
}

#account_container:hover .setting_edit_user_btn {
    display: block;
}

.setting_edit_user_btn {
    display: none;
    position: absolute;
    top: 50%;
    right: 18px;
    transform: translateY(-50%);
    border-radius: 4px;
    padding: 6px;
    cursor: pointer;
    box-sizing: content-box;
    font-size: 10px;
    line-height: normal;
}

.setting_edit_user_btn::before {
    content: "";
}

.setting_edit_user_btn:hover {
    background: var(--transparent);
}

#menu_btn {
    display: none;
    position: absolute;
    right: 18px;
}

.line_dividerX {
    flex-shrink: 0;
    background: var(--border);
    width: 100%;
    height: 1px;
}

#list_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100%;
    padding: 18px;
    overflow-y: auto;
}

.list_container {
    display: flex;
    align-items: center;
    gap: 12px;
    flex-shrink: 0;
    padding: 6px 12px 6px 0;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    height: 42px;
}

.list_container:hover {
    background: var(--transparent);
}

.list_color {
    position: absolute;
    width: 4px;
    height: calc(100% - 18px);
    border-radius: 4px;
    background: var(--accentColor);
    opacity: 0;
    transition: all .2s;
}

.list_active {
    background: var(--transparent);
}

.list_active .list_color {
    opacity: 1;
}

.list_name {
    margin-left: 16px;
    -webkit-user-select: none;
    user-select: none;
}

#list_footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.list_footer_group {
    display: flex;
    position: relative;
}

#todo_section {
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.empty_data_hint {
    height: 100%;
    color: var(--textTransparent);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 64px 0;
}

.empty_data_hint svg {
    width: 48px;
    height: 48px;
    fill: none;
    flex-shrink: 0;
}

#task_header_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;
}

#task_header_title {
    font-size: 16px;
    font-weight: bold;
    line-height: 32px;
    width: calc(100% - 32px);
    margin-left: -8px;
    padding: 0 8px;
    background: none;
    pointer-events: none;
}

#tasks_container {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item_list {
    border-radius: 4px;
    padding: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.item_list:hover {
    background: var(--transparent);
}

.item_check {
    display: flex;
}

.item_name {
    background: none;
    width: 100%;
}

.item_delete_icon {
    opacity: 0;
}

.item_list:hover .item_delete_icon {
    opacity: 1;
}

.add_item_btn {
    cursor: pointer;
}

#edit_user_account_profile {
    background: var(--background2);
    border: var(--border) 1px solid;
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
}

#edit_user_account_picture {
    height: 98px;
}

#change_picture_btn {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s;
}

#change_picture_btn label {
    display: grid;
    place-content: center;
    background: rgba(35, 39, 51, 0.5);
    color: #fff;
    cursor: pointer;
    width: 98px;
    height: 98px;
    -webkit-user-select: none;
    user-select: none;
}

#change_picture_btn input {
    display: none;
}

#edit_user_account_profile:hover #change_picture_btn {
    opacity: 1;
}

#save_btn {
    width: 100%;
    flex-shrink: 1;
}

#about_project_footer {
    flex-direction: row;
    justify-content: space-between;
}

#settings_footer {
    align-items: flex-end;
}

#background_image_preview {
    background-color: #1A2030;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 98px;
    border-radius: 4px;
    border: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-image .2s;
}

.settings_body {
    padding: 18px;
    gap: 32px;
}

.settings_block {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 100%;
}

.settings_block_container {
    border-radius: 4px;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 0;
    transition: all .2s;
}

.settings_block_container:hover {
    background: var(--transparent);
}

#block_container {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
}

.img_block {
    background-color: var(--background2);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block {
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 42px;
    height: 42px;
    transition: all .2s;
}

.block:hover {
    border: 1px solid var(--text);
}

.block_active {
    border: 1px solid var(--text);
}

#accent_picker {
    height: 0;
    visibility: hidden;
}

#name_list {
    text-align: left;
    width: 232px;
    flex-shrink: 0;
}

.img_internet_form {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 8px;
}

#img_internet_input {
    text-align: left;
    padding: 6px 12px;
    width: 100%;
}

.add_list_body {
    align-items: flex-start;
    padding: 18px;
    gap: 8px;
}

.todo_header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    min-height: 78px;
}

.todo_header_title {
    font-size: 20px;
    font-weight: normal;
}

#add_task_btn {
    display: flex;
    align-items: center;
    gap: 14px;
    background: var(--background);
    margin: 18px;
    padding: 0 18px;
    flex-shrink: 0;
    height: 42px;
    color: var(--accentColor);
    position: relative;
}

#add_task_btn:hover {
    background: none;
    filter: none;
}

#add_task_btn:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 42px;
    background: var(--accentColor);
    filter: opacity(0.08);
    border-radius: inherit;
}

#add_task_btn i {
    color: var(--accentColor);
}

#todo_container {
    display: flex;
    flex-direction: column;
    gap: 6px;
    height: 100%;
    padding: 0 18px 18px;
    overflow-y: auto;
    list-style-type: none;
}

.task_list {
    display: flex;
    align-items: center;
    border-radius: 4px;
    height: 42px;
    padding: 0 9px 0 18px;
    flex-shrink: 0;
}

.task_list:hover {
    background-color: var(--transparent);
}

.task_checkbox {
    flex-shrink: 0;
    appearance: none;
    position: relative;
}

.task_checkbox::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border: 1px solid var(--switch);
    width: 20px;
    height: 20px;
    border-radius: 4px;
}

.task_checkbox:hover::before {
    background-color: var(--transparent);
}

.task_checkbox:checked::before {
    border: 1px solid var(--accentColor);
    background-color: var(--accentColor);
}

.task_checkbox:checked::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    font-family: "Segoe Fluent Icons";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    -webkit-user-select: none;
    user-select: none;
    color: var(--accentText);
}

.task_input {
    flex-grow: 1;
    background: none;
    height: 100%;
    margin: 0 14px 0 34px;
}

.task_delete {
    box-sizing: content-box;
    font-size: 8px;
    line-height: 8px;
    text-align: center;
    padding: 7px;
    border-radius: 4px;
    opacity: 0;
}

.task_delete:hover {
    color: #fff;
    background-color: var(--error);
}

.task_list:hover .task_delete {
    opacity: 1;
}

.modal_bg_transparent {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
}

#todo_menu_container {
    display: none;
    flex-direction: column;
    gap: 6px;
    position: absolute;
    top: 36px;
    right: 0;
    z-index: 2;
    background: var(--background2);
    border: 1px solid var(--border);
    border-radius: 6px;
    box-shadow: 4px 4px 12px rgb(26 26 27 / 16%);
    padding: 12px 6px;
    list-style-type: none;
}

#todo_menu_container li {
    display: flex;
    align-items: center;
    gap: 14px;
    height: 32px;
    min-width: 128px;
    border-radius: 4px;
    padding: 0 12px;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
}

#todo_menu_container li:hover {
    background: var(--transparent);
}

.form_input {
    border-radius: 6px !important;
}